body{
	background-color:blueviolet;
	text-align:center;
}
			
#container{
	background-color:greenyellow;
	margin:50px;
	border-radius:25px;
	padding:10px;
}
#greeting{
	
}
#content{

}
img(
	height:1250px;
)
		
		