.box{
	border-style:solid;
	width:100px;
	height:100px;
	float:left;
	text-align:center;
	line-height:100px;
	vertical-align:middle;
	background-color:white;
}

#players{
	float:left;
}

#board{
	float:right;
	width:350px;
	height:350px;
}

#game{
	border-style:solid;
	width:600px;
	height:600px;
	padding:50px;
	margin-left:auto;
	margin-right:auto;
	border-radius:25px;
	background-color:red;
	margin-bottom:25px;
	
}

body{
	 background-image: url("https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-6/htmlcss1-img_tahoe.jpeg");
	text-align:center;
}

#container{
	background-color:orange;
	margin:0px;
	border-radius:25px;
	padding:10px;
	height:800px;
}

#content{
	color: red;
}

#gallery img{
	height:250px;
}

#line{
	margin-top:50px;
}

#line img{
	width:50px;
}

#hangmanPic{
	margin-top:50px;
}

#hangmanButtons input[type="button"]{
	 color:orange;
   font:4.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
   font-size:100%;
   cursor:pointer;
	 background-color:green;
}